@using ProgressLog.Models
@model MainWrapper

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Written Logs</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/globalStyles.css">
    <script src="~/js/script.js" async=""></script>


</head>

<body>
    <header>
        <h1>Progress Log</h1>
        <section>
            <picture>
                @* <source media="(min-width: 1100px)" srcset="~/imgages/log.png" /> *@
                <a href="/logout">
                    <img src="~/images/logIcon.png" alt="">
                </a>

            </picture>

            <partial name="sectionFormPartial" model="@Model.Section" />
        </section>
        <nav class="page-nav">

            <ul>
                @foreach (var item in ViewBag.allSections)
                {
                    <li>
                        <div class="title-container">

                            <div class="dotIcon-container">
                                <div class="DotIcon"></div>
                                <div class="DotIcon"></div>
                                <div class="DotIcon"></div>
                            </div>


                            <button id="@item.SectionId" onclick="showDeleteSection(event)"></button>

                            <button id="page-selected"> <a href="/sectionLink/@item.SectionId">@item.Title
                                </a></button>

                        </div>
                        <div id="deleteSection@(item.SectionId)" class="deleteSection-container">
                            <section>
                                @* <h2>Are you sure you want to delete section?</h2> *@
                                <aside>

                                    <button id="@item.SectionId" onclick="hideDeleteSection(event)"> Cancel
                                    </button>
                                    <button onclick="hideDeleteSection()"> <a href="/deleteSection/@item.SectionId">Delete
                                        </a></button>
                                </aside>
                            </section>
                        </div>
                    </li>
                }
            </ul>



        </nav>

    </header>

    <main>

        @if (ViewBag.passSectionId == 0)
        {
            <div class="welcomeMsg">
                <p>Welcome back @ViewBag.ToDisplay.FirstName :)</p>
                <p>select or + add a new section</p>

            </div>
        }
        else
        {
            <div class="content-container">


                <div class="paper-container" id="id">
                    <div class="content-wrapper" id="hide-wapper">
                        <div class="readMode-container"></div>

                        @* <h4>Pull</h4> *@

                        <section class="outline">
                            <ul>
                                @foreach (var item in ViewBag.allUserLogs)
                                {
                                    <li id="@item.LogRecordId"><button>@item.CreatedAt.ToString("dddd")</button></li>
                                }
                            </ul>
                        </section>




                        <section class="user-content">
                            @foreach (var item in ViewBag.allUserLogs)
                            {
                                <div class="logItem_container" id="@(item.LogRecordId)Title">
                                    <div class="dateText-container">
                                        <h3>@item.CreatedAt.ToString("dddd"),</h3>
                                        <h3>@item.CreatedAt.ToString("MMMM dd, yyyy")</h3>
                                    </div>
                                    <div class="editDelete_container">
                                        <a href="/edit/@item.LogRecordId">Edit</a>
                                        <button id="@item.LogRecordId" onclick="ShowDeleteLog(event)">Delete</button>

                                    </div>



                                </div>

                                <div class="deleteLog-container" id="@(item.LogRecordId)DeleteItem">
                                    <p>Delete?</p>

                                    <aside>
                                        <a href="/deleteLog/@item.LogRecordId">Yes</a>
                                        <button id="@item.LogRecordId" onclick="HideDeleteLog(event)">No</button>

                                    </aside>
                                </div>


                                @* <input type="text" value="@item.TextLog"> *@
                                <p>@item.TextLog</p>
                            }
                            <footer>
                                <p>...end of page</p>
                            </footer>

                        </section>




                    </div>
                    <partial name="logFormPartial" model="@Model.LogRecord" />
                </div>
                @* <div class="paper-container" id="id">
                    <div class="content-wrapper" id="hide-wapper">
                    <section class="outline">
                    <ul>
                    @foreach (var item in ViewBag.allUserLogs)
                    {
                    <li><button>@item.CreatedAt.ToString("dddd")</button></li>
                    }
                    </ul>
                    </section>



                    @if (ViewBag.passSectionId == 0)
                    {
                    <p>Select Sectoin</p>
                    }
                    else
                    {
                    <section class="user-content">
                    @foreach (var item in ViewBag.allUserLogs)
                    {
                    <div class="logItem_container">
                    <h3>@item.CreatedAt.ToString("dddd MMMM dd, yyyy")</h3>
                    <div class="editDelete_container">
                    <a href="/update/@item.LogRecordId" onclick="showNewLog()">Edit</a>
                    <a href="/deleteLog/@item.LogRecordId">Delete</a>
                    </div>
                    </div>
                    <p>@item.TextLog</p>
                    }
                    <footer>
                    <p>...end of page</p>
                    </footer>

                    </section>
                    }


                    </div>
                    <partial name="logFormPartial" model="@Model.LogRecord" />

                    </div> *@


            </div>
        }





    </main>

</body>

</html>