@using ProgressLog.Models
@model MainWrapper

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Written Logs</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/globalStyles.css">
    <script src="~/js/script.js" async=""></script>


</head>

<body>
    <header>
        <h1>Progress Log</h1>
        <a href="/logout">logout</a>
        <picture>
            <img src="~/images/logo.png" alt="">
        </picture>

        <partial name="sectionFormPartial" model="@Model.Section" />

        <nav class="page-nav">

            <ul>
                @foreach (var item in ViewBag.allSections)
                {
                    <li>
                        <a href="/deleteSection/@item.SectionId">O</a>
                        <button id="page-selected"> <a href="/sectionLink/@item.SectionId">@item.Title</a></button>
                    </li>
                }
            </ul>

        </nav>

    </header>

    <main>

        @if (ViewBag.passSectionId == 0)
        {
            <div class="welcomeMsg">
                <p>Welcome @ViewBag.ToDisplay.FirstName :)</p>
                <p>select or + add a new section</p>

            </div>
        }
        else
        {
            <div class="content-container">

                <div class="paper-container" id="id">
                    <div class="content-wrapper" id="hide-wapper">
                        <section class="outline">
                            <ul>
                                @foreach (var item in ViewBag.allUserLogs)
                                {
                                    <li><button>@item.CreatedAt.ToString("dddd")</button></li>
                                }
                            </ul>
                        </section>




                        <section class="user-content">
                            @foreach (var item in ViewBag.allUserLogs)
                            {
                                <div class="logItem_container">
                                    <h3>@item.CreatedAt.ToString("dddd MMMM dd, yyyy")</h3>
                                    <div class="editDelete_container">
                                        <a href="/edit/@item.LogRecordId">Edit</a>
                                        <a href="/deleteLog/@item.LogRecordId">Delete</a>
                                    </div>
                                </div>
                                @* <input type="text" value="@item.TextLog"> *@
                                <p>@item.TextLog</p>
                            }
                            <footer>
                                <p>...end of page</p>
                            </footer>

                        </section>


                    </div>
                    <partial name="logFormPartial" model="@Model.LogRecord" />
                </div>
                @* <div class="paper-container" id="id">
                    <div class="content-wrapper" id="hide-wapper">
                    <section class="outline">
                    <ul>
                    @foreach (var item in ViewBag.allUserLogs)
                    {
                    <li><button>@item.CreatedAt.ToString("dddd")</button></li>
                    }
                    </ul>
                    </section>



                    @if (ViewBag.passSectionId == 0)
                    {
                    <p>Select Sectoin</p>
                    }
                    else
                    {
                    <section class="user-content">
                    @foreach (var item in ViewBag.allUserLogs)
                    {
                    <div class="logItem_container">
                    <h3>@item.CreatedAt.ToString("dddd MMMM dd, yyyy")</h3>
                    <div class="editDelete_container">
                    <a href="/update/@item.LogRecordId" onclick="showNewLog()">Edit</a>
                    <a href="/deleteLog/@item.LogRecordId">Delete</a>
                    </div>
                    </div>
                    <p>@item.TextLog</p>
                    }
                    <footer>
                    <p>...end of page</p>
                    </footer>

                    </section>
                    }


                    </div>
                    <partial name="logFormPartial" model="@Model.LogRecord" />

                    </div> *@


            </div>
        }





    </main>

</body>

</html>