@using ProgressLog.Models
@model MainWrapper

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Written Logs</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/globalStyles.css">


</head>

<body>
    <header>
        <h1>Progress Log</h1>
        <section>
            <picture>
                @* <source media="(min-width: 1100px)" srcset="~/imgages/log.png" /> *@
                <a href="/logout">
                    <img src="~/images/logIcon.png" alt="">
                </a>

            </picture>

            <partial name="sectionFormPartial" model="@Model.Section" />
        </section>
        <nav class="page-nav">

            <ul>
                @foreach (var item in ViewBag.allSections)
                {
                    <li>
                        <div class="title-container">
                            <div onclick="showDeleteSection()" class="dotIcon-container">
                                <div onclick="showDeleteSection()" class="DotIcon"></div>
                                <div onclick="showDeleteSection()" class="DotIcon"></div>
                                <div onclick="showDeleteSection()" class="DotIcon"></div>
                            </div>

                            <button id="page-selected"> <a href="/sectionLink/@item.SectionId">@item.Title
                                    @item.SectionId</a></button>

                        </div>
                        <div id="deleteSection" class="deleteSection-container">
                            <section>
                                @* <h2>Are you sure you want to delete @item.Title section?</h2> *@
                                <aside>

                                    <button onclick="hideDeleteSection()"> <a
                                            href="/deleteSection/@item.SectionId">Delete</a>
                                    </button>
                                    <button onclick="hideDeleteSection()">Cancel</button>
                                </aside>
                            </section>
                        </div>
                    </li>
                }
            </ul>



        </nav>

    </header>

    <main>

        <div class="content-container">

            <div class="paper-container" id="id">
                <div class="content-wrapper" id="hide-wapper2">


                </div>
                <partial name="editPartial" model="@Model.LogRecord" />

            </div>


        </div>





    </main>

</body>

</html>