@using ProgressLog.Models
@model MainWrapper

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Written Logs</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/globalStyles.css">
    <script src="~/js/script.js" async=""></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        const FilterSectionHandler = (e) => {
            alert("filterting data...");
            console.log("id to select", e.target.id)
            let idSelected = e.target.id;

            $(`#${idSelected}`).click(function (e) {

                let itemId = e.target.id
                var jsonData = {
                    sectionId: itemId,
                };
                console.log("item id:", itemId)
                $.ajax({
                    url: '@Url.Action("FilterSectionHandler", "Home")',
                    type: "GET",
                    data: jsonData,
                    success: SuccessStatus,
                    error: ErrorStatus,
                    complete: CompleteStatus
                });
            })
            const SuccessStatus = (result) => {
                console.log("Success...");
                LoadData();
            };
            const ErrorStatus = (xhr, status, strErr) => {
                console.log("There was an error!");
            };
            const CompleteStatus = (xhr, status) => {
                console.log("Ajax has completed...");
            };
            const LoadData = () => {
                $('#UserLogsList').load("FilterSectionHandler #UserLogsList", data => {
                    data = JSON.parse(data);
                    console.log("You are in load", data);
                    RenderData(data);
                });
            };
            const RenderData = (data) => {
                console.log("user Data", data.data)
                $.each(data.data, function (key, value) {
                    console.log(value)


                });
            };

        }


    </script>
</head>

<body>
    <header>
        <h1>Progress Log</h1>
        <section>
            <picture>
                @* <source media="(min-width: 1100px)" srcset="~/imgages/log.png" /> *@
                <a href="/logout">
                    <img src="~/images/logIcon.png" alt="">
                </a>

            </picture>
            <partial name="sectionFormPartial" model="@Model.Section" />
        </section>


    </header>

    <main>

        @if (ViewBag.passSectionId == 0)
            {
            <div class="welcomeMsg">
            <p>Welcome back @ViewBag.ToDisplay.FirstName :)</p>
            <p>select or + add a new section</p>

            </div>
            }
            else
            {
        <div class="content-container">


            <div class="paper-container" id="id">
                <div class="content-wrapper" id="hide-wapper">
                    <div class="readMode-container"></div>

                    @* <h4>Pull</h4> *@

                    <section class="outline">
                        <ul>
                            @foreach (var item in ViewBag.allUserLogs)
                            {
                                <li id="@item.LogRecordId"><button>@item.CreatedAt.ToString("dddd")</button></li>
                            }
                        </ul>

                        <ul id="UserLogsList"></ul>
                    </section>




                    <section class="user-content">
                        @foreach (var item in ViewBag.allUserLogs)
                        {
                            <div class="logItem_container" id="@(item.LogRecordId)Title">
                                <div class="dateText-container">
                                    <h3>@item.CreatedAt.ToString("dddd"),</h3>
                                    <h3>@item.CreatedAt.ToString("MMMM dd, yyyy")</h3>
                                </div>
                                <div class="editDelete_container">
                                    <a href="/edit/@item.LogRecordId">Edit</a>
                                    <button id="@item.LogRecordId" onclick="ShowDeleteLog(event)">Delete</button>

                                </div>



                            </div>

                            <div class="deleteLog-container" id="@(item.LogRecordId)DeleteItem">
                                <p>Delete?</p>

                                <aside>
                                    <a href="/deleteLog/@item.LogRecordId">Yes</a>
                                    <button id="@item.LogRecordId" onclick="HideDeleteLog(event)">No</button>

                                </aside>
                            </div>


                            @* <input type="text" value="@item.TextLog"> *@
                            <p>@item.TextLog</p>
                        }
                        <footer>
                            <p>...end of page</p>
                        </footer>

                    </section>




                </div>
                <partial name="logFormPartial" model="@Model.LogRecord" />
            </div>
            @* <div class="paper-container" id="id">
                <div class="content-wrapper" id="hide-wapper">
                <section class="outline">
                <ul>
                @foreach (var item in ViewBag.allUserLogs)
                {
                <li><button>@item.CreatedAt.ToString("dddd")</button></li>
                }
                </ul>
                </section>



                @if (ViewBag.passSectionId == 0)
                {
                <p>Select Sectoin</p>
                }
                else
                {
                <section class="user-content">
                @foreach (var item in ViewBag.allUserLogs)
                {
                <div class="logItem_container">
                <h3>@item.CreatedAt.ToString("dddd MMMM dd, yyyy")</h3>
                <div class="editDelete_container">
                <a href="/update/@item.LogRecordId" onclick="showNewLog()">Edit</a>
                <a href="/deleteLog/@item.LogRecordId">Delete</a>
                </div>
                </div>
                <p>@item.TextLog</p>
                }
                <footer>
                <p>...end of page</p>
                </footer>

                </section>
                }


                </div>
                <partial name="logFormPartial" model="@Model.LogRecord" />

                </div> *@


        </div>
        }





    </main>

</body>

</html>