@using ProgressLog.Models
@model MainWrapper

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Written Logs</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/globalStyles.css">
    <script src="~/js/script.js" async=""></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>



        const FilterSectionHandler = (e) => {
            @* alert("filterting data..."); *@
                console.log("id to select", e.target.id)
            document.getElementById("welcomeLogMessage").style.display = "none";
            document.getElementById("paper").style.display = "grid";

            let idSelected = e.target.id;

            $(`#${idSelected}`).click(function (e) {

                let itemId = e.target.id
                var jsonData = {
                    sectionId: itemId,
                };
                console.log("item id:", itemId)
                $.ajax({
                    url: '@Url.Action("FilterSectionHandler", "Home")',
                    type: "GET",
                    data: jsonData,
                    success: SuccessStatus,
                    error: ErrorStatus,
                    complete: CompleteStatus
                });
            })
            const SuccessStatus = (result) => {
                console.log("Successfuly filtered items...");
                console.log("Here is the result:", result)

                let userData = result;

                LoadDataLogs(userData);

                @* RenderData(userData); *@
            };
            const ErrorStatus = (xhr, status, strErr) => {
                console.log("There was an error! when filtering items");
            };
            const CompleteStatus = (xhr, status) => {
                console.log("Ajax filtering has completed...");
            };
            const LoadDataLogs = (userData) => {
                $('#UserLogsList').load("FilterBySession #UserLogsList", data => {
                    data = JSON.parse(data);
                    console.log("You are in load", data.filterBySession);
                    RenderDataDate(data);
                });

                $('#UserLogText').load("FilterBySession #UserLogText", data => {
                    data = JSON.parse(data);
                    console.log("You are in load", data.filterBySession);
                    RenderData(data);
                });
            };
            const RenderDataDate = (data) => {
                console.log("user Data", data.filterBySession)
                $.each(data.filterBySession, function (key, value) {
                    const DateFormat = {
                        weekday: "long",

                    };

                    let WeekDayFormated = new Date(value.createdAt).toLocaleDateString("en-US", DateFormat);

                    $(`<li id="${value.logRecordId}Date">
                            <button><a href="#goTo${value.logRecordId}">${WeekDayFormated}</a></button>
                    </li>`).prependTo("#UserLogsList");

                });
            };
            const RenderData = (data) => {
                console.log("user Data", data.filterBySession)
                $.each(data.filterBySession, function (key, value) {
                    console.log("value:", value);
                    console.log("Log id:", value.logRecordId);
                    console.log("log text:", value.textLog);
                    console.log("Log day:", value.createdAt);
                    console.log("section Id:", value.sectionId);
                    let day = value.createdAt;

                    const DateFormat = {
                        weekday: "long",
                        month: "long",
                        day: "numeric"
                    };

                    let dateFormated = new Date(value.createdAt).toLocaleDateString("en-US", DateFormat);



                    console.log("new Data here:", dateFormated);
                    @* console.log("day", day) *@
                        $(`<div class="logItem_container" id="${value.logRecordId}DeleteWarningTitle">
                                <div class="dateText-container" id="goTo${value.logRecordId}">
                                    <h3 >${dateFormated}</h3>
                                </div>
                                <div class="editDelete_container">
                                    @* <a href="/edit/${value.logRecordId}">Edit</a> *@
                                    <a id="${value.logRecordId}" onclick="EditLogHandler(event)">Edit</a>
                                    <button id="${value.logRecordId}DeleteWarning" onclick="ShowDeleteLog(event)">Delete</button>

                                </div>
                        </div>
                        <div class="deleteLog-container" id="${value.logRecordId}DeleteWarningBox">
                                <p>Delete?</p>
                                <aside>
                                    @* <a href="/deleteLog/${value.logRecordId}">Yes</a> *@
                                    <a id="${value.logRecordId}" onclick="DeleteLogHandler(event)">Yes</a>

                                    <button id="${value.logRecordId}DeleteWarning" onclick="HideDeleteLog(event)">No</button>

                                </aside>
                        </div>
                            <p id="${value.logRecordId}LogToEdit">${value.textLog}</p>



                    `).prependTo("#UserLogText");
                });
            };

        }


        const DeleteLogHandler = (e) => {
            @* alert("delte button was click"); *@
                console.log("e.targer id selected", e.target.id)

            let logIdSelected = e.target.id;
            console.log("varible", logIdSelected)

            let itemId = e.target.id
            var jsonData = {
                logRecordId: itemId,
            };
            console.log("item id:", itemId)
            $.ajax({
                url: '@Url.Action("DeleteLogEntryHandler", "Home")',
                type: "GET",
                data: jsonData,
                success: SuccessStatus,
                error: ErrorStatus,
                complete: CompleteStatus
            });

        }

        const SuccessStatus = (result) => {
            console.log("Success...");
            LoadData();
        };
        const ErrorStatus = (xhr, status, strErr) => {
            console.log("There was an error!");
        };
        const CompleteStatus = (xhr, status) => {
            console.log("Ajax has completed...");
        };

        const LoadData = (userData) => {
            $('#UserLogsList').load("FilterBySession #UserLogsList", data => {
                data = JSON.parse(data);
                console.log("You are in load", data.filterBySession);
                RenderDataDate(data);
            });

            $('#UserLogText').load("FilterBySession #UserLogText", data => {
                data = JSON.parse(data);
                console.log("You are in load", data.filterBySession);
                RenderData(data);
            });
        };


        const RenderDataDate = (data) => {
            console.log("user Data", data.filterBySession)
            $.each(data.filterBySession, function (key, value) {
                console.log("value:", value);
                console.log("Log id:", value.logRecordId);
                console.log("log text:", value.textLog);
                console.log("Log day:", value.createdAt);
                console.log("section Id:", value.sectionId);

                const DateFormat = {
                    weekday: "long",

                };

                let WeekDayFormated = new Date(value.createdAt).toLocaleDateString("en-US", DateFormat);



                $(`<li id="${value.logRecordId}Date">
                            <button><a href="#goTo${value.logRecordId}">${WeekDayFormated}</a></button>
                    </li>`).prependTo("#UserLogsList");

            });
        };
        const RenderData = (data) => {
            console.log("user Data", data.filterBySession)
            $.each(data.filterBySession, function (key, value) {
                console.log("value:", value);
                console.log("Log id:", value.logRecordId);
                console.log("log text:", value.textLog);
                console.log("Log day:", value.createdAt);
                console.log("section Id:", value.sectionId);
                let day = value.createdAt;


                const DateFormat = {
                    weekday: "long",
                    month: "long",
                    day: "numeric"
                };

                let dateFormated = new Date(value.createdAt).toLocaleDateString("en-US", DateFormat);



                console.log("new Data here:", dateFormated);
                @* console.log("day", day) *@
                    $(`<div class="logItem_container" id="${value.logRecordId}DeleteWarningTitle">
                                <div class="dateText-container" id="goTo${value.logRecordId}">
                                    <h3 >${dateFormated}</h3>
                                </div>
                                <div class="editDelete_container">
                                    @* <a href="/edit/${value.logRecordId}">Edit</a> *@
                                    <a id="${value.logRecordId}" onclick="EditLogHandler(event)">Edit</a>
                                    <button id="${value.logRecordId}DeleteWarning" onclick="ShowDeleteLog(event)">Delete</button>

                                </div>
                        </div>
                        <div class="deleteLog-container" id="${value.logRecordId}DeleteWarningBox">
                                <p>Delete?</p>
                                <aside>
                                    @* <a href="/deleteLog/${value.logRecordId}">Yes</a> *@
                                    <a id="${value.logRecordId}" onclick="DeleteLogHandler(event)">Yes</a>

                                    <button id="${value.logRecordId}DeleteWarning" onclick="HideDeleteLog(event)">No</button>

                                </aside>
                        </div>
                            <p id="${value.logRecordId}LogToEdit">${value.textLog}</p>

                    `).prependTo("#UserLogText");
            });
        };

    </script>
</head>

<body>
    <header>
        <h1>Progress Log</h1>
        <section>
            <picture>
                @* <source media="(min-width: 1100px)" srcset="~/imgages/log.png" /> *@
                <a href="/">
                    <img src="~/images/logIcon.png" alt="">
                </a>

            </picture>
            <partial name="sectionFormPartial" model="@Model.Section" />
        </section>


    </header>

    <main>


        <div class="welcomeMsg" id="welcomeLogMessage">
            <p>Welcome back @ViewBag.ToDisplay.FirstName :)</p>
            <p>select or + add a new section</p>

        </div>

        <div class="content-container">


            <div class="paper-container" id="paper">
                <div class="content-wrapper" id="hide-wapper">
                    <div class="readMode-container"></div>


                    <section class="outline">
                        <ul id="UserLogsList"></ul>
                    </section>



                    <section class="user-content">
                        <ul id="UserLogText"></ul>
                    </section>




                </div>
                <partial name="logFormPartial" model="@Model.LogRecord" />
            </div>
            @* <div class="paper-container" id="id">
                <div class="content-wrapper" id="hide-wapper">
                <section class="outline">
                <ul>
                @foreach (var item in ViewBag.allUserLogs)
                {
                <li><button>@item.CreatedAt.ToString("dddd")</button></li>
                }
                </ul>
                </section>



                @if (ViewBag.passSectionId == 0)
                {
                <p>Select Sectoin</p>
                }
                else
                {
                <section class="user-content">
                @foreach (var item in ViewBag.allUserLogs)
                {
                <div class="logItem_container">
                <h3>@item.CreatedAt.ToString("dddd MMMM dd, yyyy")</h3>
                <div class="editDelete_container">
                <a href="/update/@item.LogRecordId" onclick="showNewLog()">Edit</a>
                <a href="/deleteLog/@item.LogRecordId">Delete</a>
                </div>
                </div>
                <p>@item.TextLog</p>
                }
                <footer>
                <p>...end of page</p>
                </footer>

                </section>
                }


                </div>
                <partial name="logFormPartial" model="@Model.LogRecord" />

                </div> *@


        </div>
        @* } *@





    </main>

</body>

</html>